<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite" data-provider-thread-count="5" parallel="tests">
	<parameter name="Batch Name" value="${batchName}"/>
    <test name="Regression Tests">
        <classes>
            <class name="libraries.Driver"/>  <!-- This runs the testRunner method -->
        </classes>
    </test>
</suite>
